CompileFlags:
  Compiler: C:/MinGW/bin/g++.exe
  Add:
    - --target=i686-w64-mingw32
    - -isystem
    - C:/MinGW/lib/gcc/mingw32/6.3.0/include/c++
    - -isystem
    - C:/MinGW/lib/gcc/mingw32/6.3.0/include/c++/mingw32
    - -isystem
    - C:/MinGW/lib/gcc/mingw32/6.3.0/include/c++/backward
    - -isystem
    - C:/MinGW/include
    - -isystem
    - C:/MinGW/lib/gcc/mingw32/6.3.0/include
    - -isystem
    - C:/MinGW/lib/gcc/mingw32/6.3.0/include-fixed
    - -isystem
    - C:/MinGW/mingw32/include
    - -I
    - D:/UTN/PROGRAMACION/2025/PROGRAMACION 2/CODEBLOCKS/GESTION DE TRANSPORTE/GESTION DE TRANSPORTE
    - -I
    - D:/UTN/PROGRAMACION/2025/PROGRAMACION 2/CODEBLOCKS/GESTION DE TRANSPORTE/GESTION DE TRANSPORTE/SFML/include
